.app-submit-btn {
  color: $primary-grey;
  font-weight: 300;
  border: 1px solid black;
  transition: all 0.1s ease-out;
  padding: .375rem 1.75rem;
  background: none;
  &:hover {
    color: black;
  }
}