<div class="info-card">
  <div class="row">
    <div class="col-sm-7 info-card-section">
      <h2 class="info-card-title">
        Lorem, ipsum.
      </h2>
      <p class="info-card-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse sed tempora animi enim ducimus. Assumenda iste iusto dolore quo, nemo modi a. Odit aliquid recusandae accusamus ullam, ipsum nihil, expedita quidem dolor totam quo commodi excepturi officia tempora quam perferendis.
      </p>
      <a href="#" class="link-black info-card-link">
        Контакти
      </a>
    </div>
    <div class="col-sm-5 info-card-section info-card-section__bg shadowed">
      <div class="info-card-photos">
        <img src="assets/images/1.jpg" alt="">
        <img src="assets/images/1.jpg" alt="">
      </div>
    </div>
  </div>
</div>