<table class="table table-bordered">
  <tr>
    <th>№</th>
    <th>Ім'я</th>
    <th>email</th>
    <th>Логін</th>
    <th>Дата реєстрації</th>
  </tr>
  <tr *ngFor="let user of users; let i = index">
    <td>{{ i + 1 }}.</td>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.created_at | date: 'medium' }}</td>
    <td>
      <a class="btn btn-primary" [routerLink]="[user._id, 'photosession-form']">Додати фотосесію</a>
    </td>
  </tr>
</table>