<div class="info-card">
  <div class="row">
    <div class="col-sm-7 info-card-section">
      <h2 class="info-card-title">
        {{ homeInfo?.cardTitle }}
      </h2>
      <p class="info-card-text">
        {{ homeInfo?.cardText }}
      </p>
      <a [routerLink]="['./contacts']" class="link-black info-card-link">
        Контакти
      </a>
    </div>
    <div class="col-sm-5 info-card-section info-card-section__bg shadowed">
      <div class="info-card-photos" *ngFor="let photoSrc of homeInfo?.cardPhotos">
        <img [appServerSrc]="photoSrc" alt="">
      </div>
    </div>
  </div>
</div>

