<header class="header">
  <div class="width-container row align-items-center justify-content-between">
    <div class="logo col-auto">
      <a routerLink="/" class="router-link">
        <img src="assets/images/logo.svg" alt="logo">
      </a>
    </div>
    <div class="navigation-list col-auto">
      <div class="navigation-link">
        <a class="link-default" [routerLink]="['/']">Головна</a>
      </div>
      <div class="navigation-link nav-dropdown-menu">
        <a class="link-default" href="#">Послуги</a>
        <ul class="nav-sub-list no-base-styling">
          <li><a class="link-default" href="#">Весільна фотосесія</a></li>
          <li><a class="link-default" href="#">Сімейна фотозйомка</a></li>
          <li><a class="link-default" href="#">Фотосесія LoveStory</a></li>
          <li><a class="link-default" href="#">Фотокниги</a></li>
        </ul>
      </div>
      <div class="navigation-link">
        <a class="link-default" [routerLink]="['/portfolio']">Портфоліо</a>
      </div>
      <div class="navigation-link">
        <a class="link-default" href="#">Відгуки</a>
      </div>
      <div class="navigation-link">
        <a [routerLink]="['/blog']" class="link-default" href="#">Блог</a>
      </div>
      <div class="navigation-link">
        <a class="link-default" href="#">Контакти</a>
      </div>
    </div>
    <!-- <div class="col-auto row justify-content-center">
      <div class="social-link">
        <a href="#" class="link-default"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="social-link">
        <a href="#" class="link-default"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="social-link">
        <a href="#" class="link-default"><i class="fa fa-youtube"></i></a>
      </div>
      <div class="social-link">
        <a href="#" class="link-default"><i class="fa fa-telegram"></i></a>
      </div>
    </div> -->
    <div class="col-auto row justify-content-end" *ngIf="!isLoggedIn; else dashboardLink">
      <div class="navigation-link border-right">
        <a class="link-default" [routerLink]="['/registration']">Зареєструватись</a>
      </div>
      <div class="navigation-link">
        <a class="link-default" [routerLink]="['/login']">Увійти</a>
      </div>
    </div>
    <ng-template #dashboardLink>
      <div class="col-auto row justify-content-end">
        <div class="navigation-link border-right">
          <a class="link-default" [routerLink]="dashboardUrl">Кабінет</a>
        </div>
        <div class="navigation-link">
          <a href="javascript:void(0)" class="link-default" (click)="logout()">Вийти</a>
        </div>
      </div>
    </ng-template>
    
  </div>
</header>