<header class="header test test2">
  <div class="width-container row align-items-center">
    <div class="logo col-md-2">
      <a routerLink="/" class="router-link">
        <img src="assets/images/logo.svg" alt="logo">
      </a>
    </div>
    <ul class="navigation-list col-md-8">
      <li class="navigation-link">
        <a class="link-default" href="#">Головна</a>
      </li>
      <li class="navigation-link nav-dropdown-menu">
        <a class="link-default" href="#">Послуги</a>
        <ul class="nav-sub-list">
          <li><a class="link-default" href="#">Весільна фотосесія</a></li>
          <li><a class="link-default" href="#">Сімейна фотозйомка</a></li>
          <li><a class="link-default" href="#">Фотосесія LoveStory</a></li>
          <li><a class="link-default" href="#">Фотокниги</a></li>
        </ul>
      </li>
      <li class="navigation-link">
        <a class="link-default" href="#">Портфоліо</a>
      </li>
      <li class="navigation-link">
        <a class="link-default" href="#">Відгуки</a>
      </li>
      <li class="navigation-link">
        <a a class="link-default" href="#">Блог</a>
      </li>
      <li class="navigation-link">
        <a class="link-default" href="#">Контакти</a>
      </li>
    </ul>
    <ul class="social col-md-2">
      <li class="social-link">
        <a href="#" class="link-default"><i class="fa fa-instagram"></i></a>
      </li>
      <li class="social-link">
        <a href="#" class="link-default"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="social-link">
        <a href="#" class="link-default"><i class="fa fa-youtube"></i></a>
      </li>
      <li class="social-link">
        <a href="#" class="link-default"><i class="fa fa-telegram"></i></a>
      </li>
    </ul>
  </div>
</header>