<div class="app-alerts-list">
  <div *ngFor="let alert of alerts | keyvalue">
    <div
      [ngClass]="{
        'app-alert-success': alert.value.type === ALERT_TYPES.SUCCESS,
        'app-alert-danger': alert.value.type === ALERT_TYPES.DANGER,
        'app-alert-error': alert.value.type === ALERT_TYPES.ERROR
      }"
      class="app-alert app-fade-out"
    >

      <span class="app-close" (click)="handleClose(alert.key)">+</span>
      <h5 class="app-alert-header">Увага!</h5>
      <div class="app-alert-content">{{ alert.value.text }}</div>
    </div>
  </div>
</div>

