<nav class="navbar navbar-light bg-light">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['users']">Користувачі</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" [routerLink]="['portfolio']">Портфоліо</a>
    </li>
  </ul>
  <a class="btn btn-danger" (click)="logout()">Вийти</a>
</nav>
<div class="my-3">
  <router-outlet></router-outlet>
</div>
  <!-- <app-editor (loaded)="loadContent()"></app-editor> -->
